.balloons-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

.balloon {
  position: absolute;
  bottom: -100px;
  font-size: 3rem;
  animation: float-up 6s ease-in infinite;
  opacity: 0.7;
}

.balloon-red {
  filter: hue-rotate(0deg);
}

.balloon-blue {
  filter: hue-rotate(200deg);
}

.balloon-yellow {
  filter: hue-rotate(50deg);
}

.balloon-pink {
  filter: hue-rotate(300deg);
}

.balloon-purple {
  filter: hue-rotate(270deg);
}

@keyframes float-up {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-50vh) rotate(10deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-100vh) rotate(-10deg);
    opacity: 0;
  }
}
